/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    /* رنگ‌ها */
    --primary-brand-color: #307FE2;
    --primary-brand-dark-color: #1C4C86;
    
    --primary-med-color: #ACCCF3;
    --primary-light-color: #EDFAEF;
    --secondary-main-color: #F7B500;
    --primary-color: #3080E3;
    --secondary-color: #f0f0f0;
    --text-color: rgba(61, 61, 61, 1);
    --gray-color: #575757;
    --primary-color: #307FE2;
    --prhmary-Dark-color: #2460AA;
    --Dark-Hover-color: #1C4C86;
    --Light-color: #D9EAFF;
    --background-color : #fff;
    --text-primary-active-color : #212121;
    --icon-dark-gray-color : #3D3D3D;
    --gold-star-color : #FFD04E;
  
    /* فاصله‌ها */
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 20px;
  
    /* سایز‌ها */
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
  
    /* سایز آیکون‌ها */
    --icon-size-small: 16px;
    --icon-size-large: 50px;
  
    /* شعاع گوشه‌ها */
    --border-radius-small: 5px;
    --border-radius-medium: 8px;
    --border-radius-large: 10px;
  
    /* سایه‌ها */
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
