<div>
    <div class="flex justify-between items-center p-4 dark:bg-blue-950 text-white">
      <h1 class="text-lg font-bold">
        {{ 'ADMIN_PANEL' | translate }}
      </h1>
      <div>
        <button
          class="px-4 py-2 bg-gray-100 text-blue-500 rounded-md mr-2"
          (click)="switchLanguage('en')"
        >
          English
        </button>
        <button
          class="px-4 py-2 bg-gray-100 text-blue-500 rounded-md"
          (click)="switchLanguage('fa')"
        >
          فارسی
        </button>
      </div>
    </div>

  </div>
  
  
<router-outlet />
