<div class="max-w-lg mx-auto mt-10 p-6 dark:bg-gray-900 shadow-2xl shadow-blue-800 rounded-lg">
    <h2 class="text-xl font-bold mb-4 dark:text-white">{{'EDIT_USER'|translate}}</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="firstName">{{'FIRST_NAME'|translate}}</label>
        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="{{'ENTER'|translate}} {{'FIRST_NAME'|translate}}"
        />
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="lastName">{{'LAST_NAME'|translate}}</label>
        <input
          id="lastName"
          type="text"
          formControlName="lastName"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="{{'ENTER'|translate}} {{'LAST_NAME'|translate}}"
        />
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="username">{{'USERNAME'|translate}}</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="{{'ENTER'|translate}} {{'USERNAME'|translate}}"
        />
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email">{{'EMAIL'|translate}}</label>
        <input
          id="email"
          type="text"
          formControlName="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="{{'ENTER'|translate}} {{'EMAIL'|translate}}"
        />
      </div>
      
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="passwordHash">{{'PASSWORD'|translate}}</label>
        <input
          id="passwordHash"
          type="text"
          formControlName="passwordHash"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="{{'ENTER'|translate}} {{'PASSWORD'|translate}}"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600"
      >
       {{'SUBMIT'|translate}}
      </button>
    </form>
  </div>
  